# Byte-compiled files
__pycache__/
*.py[cod]

# Packages
*.egg-info/
*.egg
*.whl
dist/

# Documentation
docs/build/
docs/source/libdoc/
docs/source/robot/
docs/source/prebuild/
docs/source/json/
docs/source/libspec/
docs/source/include/libdoc/
docs/source/include/latest.json
docs/source/contributing/todos.rst

# Virtualenv
*venv/

# Poetry
poetry.toml

# VS Code
.vscode/

# PyCharm
.idea/

# MacOS
.DS_Store

# Jupyter
*.ipynb_checkpoints

# LibreOffice
**/.~lock*

# coverage
*.coverage

# FPDF fonts
*.pkl

# library log files
jab_wrapper.log

# invoke config
invoke.yaml
