# Byte-compiled files
__pycache__/
*.py[cod]

# Packages
*.egg-info/
*.egg
*.whl
dist/

# Documentation
docs/build/
docs/source/libdoc/
docs/source/robot/
docs/source/prebuild/
docs/source/json/
docs/source/include/libdoc/
docs/source/include/latest.json

# Virtualenv
*venv/

# Poetry
poetry.toml

# VS Code
.vscode/

# MacOS
.DS_Store

# Jupyter
*.ipynb_checkpoints

# LibreOffice
**/.~lock*
