[tool.poetry]
name = "rpaframework-meta"
version = "0.0.1"
description = "Metapackage for RPA Framework"
authors = [
	"RPA Framework <rpafw@robocorp.com>",
]

[tool.poetry.dependencies]
python = "^3.7"
rpaframework = { path = "packages/main", extras = ["cv", "playwright", "aws"] }
rpaframework-google = "^3.0.0"
rpaframework-windows = "^3.1.1"

[tool.poetry.dev-dependencies]
robotframeworklexer = "^1.1"
sphinx = "^2.3.1"
sphinx_rtd_theme = "^0.4.3"
jinja2 = ">=2.2,<3.0"
markupsafe = "~2.0.1"
toml = "^0.10.1"
sphinx-markdown-builder = "^0.5.4"
robotframework-docgen = "^0.14.0"
pylint = "^2.4.4, <2.13"
sphinx-issues = "^1.2.0"
docutils = "0.16"
black = {version = "^21.7b0", allow-prereleases = true}

[build-system]
requires = ["setuptools", "poetry>=0.12"]
build-backend = "poetry.masonry.api"
