[tool.poetry]
name = "rpaframework"
version = "24.1.2"
description = "A collection of tools and libraries for RPA"
authors = ["RPA Framework <rpafw@robocorp.com>"]
license = "Apache-2.0"
readme = "README.rst"

homepage = "https://rpaframework.org/"
documentation = "https://rpaframework.org/"
repository = "https://github.com/robocorp/rpaframework"

keywords = ["robotframework", "rpa", "automation"]
classifiers = [
	"License :: OSI Approved :: Apache Software License",
	"Development Status :: 5 - Production/Stable",
	"Operating System :: OS Independent",
	"Intended Audience :: Developers",
	"Topic :: Software Development :: Libraries :: Python Modules",
	"Topic :: Software Development :: Libraries",
	"Framework :: Robot Framework :: Library",
	"Framework :: Robot Framework",
	"Programming Language :: Python :: 3.8",
	"Programming Language :: Python :: 3.9",
	"Programming Language :: Python :: 3.10",
]

include = ["*.libspec"]

packages = [
	{ include = "RPA", from = "src" },
	{ include = "tests", format = "sdist" },
]

[tool.poetry.dependencies]
python = "^3.8"
docutils = "*"
rpaframework-core = "^11.0.5"
rpaframework-pdf = "^7.1.5"
rpaframework-windows = { version = "^7.3.2", platform = "win32" }
java-access-bridge-wrapper = "0.14.1"
robocorp-storage = "^0.3.2"
jsonpath-ng = "^1.5.2"
robotframework = ">=4.0.0,!=4.0.1,<6.0.0"
robotframework-sapguilibrary = { version = "^1.1", platform = "win32" }
robotframework-seleniumlibrary = "^6.0.0"
robotframework-seleniumtestability = "^2.0.0"
robotframework-requests = "^0.9.1"
pywinauto = { version = "^0.6.8", platform = "win32", python = "!=3.8.1,!=3.7.6" }
pywin32 = { version = ">=302,<304", platform = "win32", python = "!=3.8.1,!=3.7.6" }
comtypes = { version = "^1.1.11", platform = "win32" }
robotframework-pythonlibcore = "^4.0.0"
pynput-robocorp-fork = "^5.0.0"
python-xlib = { version = ">=0.17", platform = "linux" }
psutil = { version = "^5.7.0", platform = "win32" }
pyperclip = "^1.8.0"
exchangelib = "^4.7.6"
tzlocal = "^4.2"
xlrd = "^2.0.1"
xlwt = "^1.3.0"
xlutils = "^2.0.0"
openpyxl = "^3.0.9"
pillow = "^9.1.1"
simple_salesforce = "^1.0.0"
netsuitesdk = "^1.1.0"
tweepy = "^3.8.0"
graphviz = "^0.13.2"
notifiers = "^1.3.3"
cryptography = "^41.0.1"
mss = "^6.0.0"
chardet = "^3.0.0"
PySocks = ">=1.5.6,!=1.5.7,<2.0.0"
selenium = "^4.6.1,!=4.10.0"
click = "^8.1.2"
PyYAML = ">=5.4.1,<7.0.0"
tenacity = "^8.0.1"
htmldocx = "^0.0.6"
hubspot-api-client = "^4.0.6"
pyotp = "^2.6.0"
importlib-metadata = "^4.13.0"
O365 = ">=2.0.21,<2.0.27"
requests = "^2.28.1"
oauthlib = "^3.2.2"
requests-oauthlib = "^1.3.1"
PyJWT = "^2.6.0"
validators = "^0.20.0"
smartsheet-python-sdk = "^3.0.0"
pendulum = "^2.1.2"
holidays = "^0.21"

[tool.poetry.group.dev.dependencies]
black = "^22.3.0"
flake8 = "^3.7.9"
pylint = "^2.4.4, <2.13"
pytest = "^7.2.0"
pytest-cov = "^4.0.0"
pytest-mock = "^3.8.2"
mock = "^5.0.0"
mypy = "^1.4.1"
python-docx = "^0.8.11"
pytest-env = "^0.6.2"
invoke = "^1.6.0"
sphinx = "^5.3.0"
sphinx-rtd-theme = "^1.1.1"
toml = "^0.10.2"
sphinx-markdown-builder = "^0.5.4"
robotframework-docgen = "^0.15.0"
sphinx-issues = "^3.0.1"
docutils = "^0.16"
colorama = "^0.4.5"
keyring = "^23.9.0"
flake8-docstrings = "^1.6.0"
flake8-rst-docstrings = "^0.2.7"
pytest-freezegun = "^0.4.2"
isort = "^5.11.5"

[tool.poetry.scripts]
rpa-crypto = 'RPA.scripts.crypto:main'
use-robocorp-vault = 'RPA.scripts.robocorp_cloud:main'

[tool.black]
target-version = ["py37", "py38", "py39"]

[tool.isort]
profile = "black"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
addopts = "-v --cov=src --cov-branch"
testpaths = ["tests/python"]
