[tool.poetry]
name = "rpaframework"
version = "10.0.4"
description = "A collection of tools and libraries for RPA"
authors = [
	"RPA Framework <rpafw@robocorp.com>",
]
license = "Apache-2.0"
readme = "README.rst"

homepage = "https://rpaframework.org/"
documentation = "https://rpaframework.org/"
repository = "https://github.com/robocorp/rpaframework"

keywords = ["robotframework", "rpa", "automation"]
classifiers = [
	"License :: OSI Approved :: Apache Software License",
	"Development Status :: 3 - Alpha",
	"Operating System :: OS Independent",
	"Intended Audience :: Developers",
	"Topic :: Software Development :: Libraries :: Python Modules",
	"Topic :: Software Development :: Libraries",
	"Framework :: Robot Framework :: Library",
	"Framework :: Robot Framework",
	"Programming Language :: Python :: 3.6",
	"Programming Language :: Python :: 3.7",
	"Programming Language :: Python :: 3.8",
]

packages = [
	{ include = "RPA", from = "src" },
	{ include = "tests", format = "sdist" }
]

[tool.poetry.dependencies]
python = "^3.6.2"
docutils = "*"
dataclasses = { version = "^0.7", python=">=3.6,<3.7" }
rpaframework-core = "^6.2.1"
rpaframework-pdf = "^0.6.0"
rpaframework-dialogs = "^0.2.3"
rpaframework-recognition = { version = "^0.7.0", optional = true }
jsonpath-ng = "^1.5.2"
robotframework = ">=4.0.0,!=4.0.1,<5.0.0"
robotframework-sapguilibrary = { version = "^1.1", platform = "win32" }
robotframework-seleniumlibrary = "^5.1.0"
robotframework-seleniumtestability = "^1.1.0"
robotframework-requests = "^0.7.0"
robotframework-browser = { version = "^4.3.0", optional = true,  python = ">=3.7,<4.0" }
pywinauto = { version = "^0.6.8", platform = "win32", python = "!=3.8.1,!=3.7.6" }
pywin32 = { version = "^300", platform = "win32", python = "!=3.8.1,!=3.7.6" }
comtypes = { version = "1.1.7", platform = "win32" }
robotframework-pythonlibcore = "^2.1.0"
pynput-robocorp-fork = "^2.0.0"
python-xlib = { version = ">=0.17", platform = "linux" }
psutil = { version = "^5.7.0", platform = "win32" }
pyperclip = "^1.8.0"
exchangelib = "^3.1.1"
xlrd = "^2.0.1"
xlwt = "^1.3.0"
xlutils = "^2.0.0"
openpyxl = "^3.0.3"
pillow = "^8.0.1"
simple_salesforce = "^1.0.0"
netsuitesdk = "^1.1.0"
tweepy = "^3.8.0"
graphviz = "^0.13.2"
notifiers = "^1.2.1"
cryptography = "^3.3.1"
mss = "^6.0.0"
chardet = "^3.0.0"
PySocks = ">=1.5.6,!=1.5.7,<2.0.0"
selenium = "^3.141.0"
click = "^7.1.2"
boto3 = { version = "^1.13.4", optional = true }
amazon-textract-response-parser = { version = "^0.1.1", optional = true }

[tool.poetry.dev-dependencies]
black = {version = "^21.5b0", allow-prereleases = true}
flake8 = "^3.7.9"
pylint = "^2.4.4"
pytest = "^6.1.2"
pytest-cov = "^2.10.1"
mock = "^4.0.2"
mypy = "^0.782"

[tool.poetry.scripts]
rpa-crypto = 'RPA.scripts.crypto:main'
use-robocorp-vault = 'RPA.scripts.robocorp_cloud:main'

[tool.poetry.extras]
cv = ["rpaframework-recognition"]
playwright = ["robotframework-browser"]
aws = ["boto3", "amazon-textract-response-parser"]

[tool.black]
target-version = ["py36", "py37", "py38", "py39"]

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"

[tool.pytest.ini_options]
addopts = "-v --cov=src --cov-branch"
testpaths = ["tests/python"]
