[tool.poetry]
name = "rpaframework-google"
version = "8.1.1"
description = "Google library for RPA Framework"
authors = ["RPA Framework <rpafw@robocorp.com>"]
license = "Apache-2.0"
readme = "README.rst"

homepage = "https://rpaframework.org/"
documentation = "https://rpaframework.org/"
repository = "https://github.com/robocorp/rpaframework"

keywords = ["robotframework", "rpa", "automation", "google"]
classifiers = [
	"License :: OSI Approved :: Apache Software License",
	"Development Status :: 5 - Production/Stable",
	"Operating System :: OS Independent",
	"Intended Audience :: Developers",
	"Topic :: Software Development :: Libraries :: Python Modules",
	"Topic :: Software Development :: Libraries",
	"Framework :: Robot Framework :: Library",
	"Framework :: Robot Framework",
	"Programming Language :: Python :: 3.8",
	"Programming Language :: Python :: 3.9",
	"Programming Language :: Python :: 3.10",
]

include = ["*.libspec"]

packages = [{ include = "RPA", from = "src" }]

[tool.poetry.dependencies]
python = "^3.8"
rpaframework-core = "^11.0.0"
robotframework = ">=4.0.0,!=4.0.1,!=6.1.0,<7.0.0"
robotframework-pythonlibcore = "^4.2.0"
google-api-python-client = "^2.58.0"
google-auth-httplib2 = "^0.1.0"
google-auth-oauthlib = "^0.5.2"
google-cloud-language = "^2.5.2"
google-cloud-speech = "^2.15.1"
google-cloud-storage = "^2.5.0"
google-cloud-texttospeech = "^2.12.1"
google-cloud-translate = "^3.8.1"
google-cloud-videointelligence = "^2.8.1"
google-cloud-vision = "^3.1.1"
google-cloud-documentai = "^2.0.1"
grpcio = "^1.48.1"

[tool.poetry.group.dev.dependencies]
black = "^22.3.0"
flake8 = "^3.7.9"
pylint = "^2.4.4, <2.13"
pytest = "^7.2.0"
mock = "^5.0.0"
pytest-cov = "^4.0.0"
invoke = "^2.2.0"
sphinx = "^5.3.0"
sphinx-rtd-theme = "^1.1.1"
toml = "^0.10.2"
sphinx-markdown-builder = "^0.5.4"
robotframework-docgen = "^0.16.0"
sphinx-issues = "^3.0.1"
docutils = "0.16"
colorama = "^0.4.5"
keyring = "^24.2.0"
PyYAML = ">=5.4.1,<7.0.0"
flake8-docstrings = "^1.6.0"
flake8-rst-docstrings = "^0.2.7"

[tool.poetry.scripts]
rpa-google-oauth = 'RPA.scripts.google_authenticate:main'

[tool.black]
target-version = ["py38", "py39", "py310"]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
addopts = "-v --cov=src --cov-report term-missing --cov-branch"
testpaths = ["tests"]
