[tool.poetry]
name = "rpaframework-dialogs"
version = "4.0.1"
description = "Dialogs library of RPA Framework"
authors = ["RPA Framework <rpafw@robocorp.com>"]
license = "Apache-2.0"
readme = "README.rst"

homepage = "https://rpaframework.org/"
documentation = "https://rpaframework.org/"
repository = "https://github.com/robocorp/rpaframework"

keywords = ["robotframework", "rpa", "automation", "dialogs"]
classifiers = [
	"License :: OSI Approved :: Apache Software License",
	"Development Status :: 3 - Alpha",
	"Operating System :: OS Independent",
	"Intended Audience :: Developers",
	"Topic :: Software Development :: Libraries :: Python Modules",
	"Topic :: Software Development :: Libraries",
	"Framework :: Robot Framework :: Library",
	"Framework :: Robot Framework",
	"Programming Language :: Python :: 3.7",
	"Programming Language :: Python :: 3.8",
	"Programming Language :: Python :: 3.9",
]

packages = [{ include = "RPA", from = "src" }]

[tool.poetry.dependencies]
python = "^3.7"
rpaframework-core = "^10.0.0"
robocorp-dialog = "^0.5.3"
robotframework = ">=4.0.0,!=4.0.1,<6.0.0"

[tool.poetry.dev-dependencies]
black = "^22.3.0"
pylint = "^2.4.4, <2.13"
flake8 = "^3.8.4"
pytest = "^7.2.0"
setuptools = "^65.5.1"
PyYAML = "^5.4.1"
mypy = "^0.800"
pytest-cov = "^4.0.0"
pytest-freezegun = "^0.4.2"
toml = "^0.10.2"
colorama = "^0.4.5"
keyring = "^23.9.0"

[tool.poetry.group.dev.dependencies]
flake8-docstrings = "^1.6.0"
flake8-rst-docstrings = "^0.2.7"

[tool.black]
target-version = ["py37", "py38", "py39"]

[build-system]
requires = ["poetry>=1.1.4"]
build-backend = "poetry.masonry.api"

[tool.pytest.ini_options]
addopts = "-v --cov=src --cov-report term-missing --cov-branch"
testpaths = ["tests"]
