[tool.poetry]
name = "rpaframework-core"
version = "10.4.1"
description = "Core utilities used by RPA Framework"
authors = ["RPA Framework <rpafw@robocorp.com>"]
license = "Apache-2.0"
readme = "README.rst"

homepage = "https://rpaframework.org/"
documentation = "https://rpaframework.org/"
repository = "https://github.com/robocorp/rpaframework"

keywords = ["robotframework", "rpa", "automation"]
classifiers = [
	"License :: OSI Approved :: Apache Software License",
	"Development Status :: 3 - Alpha",
	"Operating System :: OS Independent",
	"Intended Audience :: Developers",
	"Topic :: Software Development :: Libraries :: Python Modules",
	"Topic :: Software Development :: Libraries",
	"Framework :: Robot Framework :: Library",
	"Framework :: Robot Framework",
	"Programming Language :: Python :: 3.7",
	"Programming Language :: Python :: 3.8",
	"Programming Language :: Python :: 3.9",
]

packages = [{ include = "RPA", from = "src" }]

[tool.poetry.dependencies]
python = "^3.7"
selenium = "^4.4.0"
webdriver-manager = "^3.8.3"
psutil = { version = "^5.9.0", platform = "win32" }
pywin32 = { version = ">=300,<304", platform = "win32", python = "!=3.8.1,!=3.7.6" }
uiautomation = { version = "^2.0.15", platform = "win32" }
pillow = "^9.1.1"
packaging = ">=21.3,<24"

[tool.poetry.dev-dependencies]
black = "^22.3.0"
flake8 = "^3.7.9"
importlib-metadata = "^4.13.0"
pylint = "^2.4.4, <2.13"
pytest = "^7.2.0"
pytest-cov = "^4.0.0"
mock = "^5.0.0"
mypy = "^0.790"
toml = "^0.10.2"
colorama = "^0.4.5"
keyring = "^23.9.0"
PyYAML = "^5.4.1"

[tool.poetry.group.dev.dependencies]
flake8-docstrings = "^1.6.0"
flake8-rst-docstrings = "^0.2.7"

[tool.black]
target-version = ["py37", "py38", "py39"]

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"

[tool.pytest.ini_options]
addopts = "--cov=src --cov-report term-missing --cov-branch"
testpaths = ["tests"]
