[tool.poetry]
name = "rpaframework-assistant"
version = "1.0.5"
description = "Interactive UI library for RPA Framework"
authors = ["RPA Framework <rpafw@robocorp.com>"]
license = "Apache-2.0"
readme = "README.rst"

homepage = "https://rpaframework.org/"
documentation = "https://rpaframework.org/"
repository = "https://github.com/robocorp/rpaframework"

keywords = ["robotframework", "rpa", "automation", "dialogs"]
classifiers = [
	"License :: OSI Approved :: Apache Software License",
	"Development Status :: 3 - Alpha",
	"Operating System :: OS Independent",
	"Intended Audience :: Developers",
	"Topic :: Software Development :: Libraries :: Python Modules",
	"Topic :: Software Development :: Libraries",
	"Framework :: Robot Framework :: Library",
	"Framework :: Robot Framework",
	"Programming Language :: Python :: 3.7",
	"Programming Language :: Python :: 3.8",
	"Programming Language :: Python :: 3.9",
]

include = ["*.libspec"]

packages = [{ include = "RPA", from = "src" }]

[tool.poetry.dependencies]
python = "^3.7"
robotframework = ">=4.0.0,!=4.0.1,<6.0.0"
rpaframework-core = ">=6.5.1, <11.0.0"
flet="0.2.2"
typing-extensions = { version = "^4.4.0", python = "<3.8" }


[tool.poetry.dev-dependencies]
black = "^22.3.0"
flake8 = "^3.7.9"
pylint = "^2.4.4, <2.13"
pytest = "^7.2.0"
mock = "^5.0.0"
pytest-cov = "^4.0.0"
invoke = "^1.6.0"
sphinx = "^5.3.0"
sphinx-rtd-theme = "^1.1.1"
toml = "^0.10.2"
sphinx-markdown-builder = "^0.5.4"
robotframework-docgen = "^0.15.0"
robotframework-tidy = "^3.3.3"
sphinx-issues = "^3.0.1"
docutils = "0.16"
moto = "3.1.8"
colorama = "^0.4.5"
keyring = "^23.9.0"
PyYAML = "^5.4.1"
importlib-metadata = "^4.13.0"

[tool.poetry.group.dev.dependencies]
flake8-docstrings = "^1.6.0"
flake8-rst-docstrings = "^0.2.7"

[tool.black]
target-version = ["py37", "py38", "py39"]

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"

[tool.pytest.ini_options]
addopts = "-v --cov=src --cov-report term-missing --cov-branch"
testpaths = ["tests"]
