[tool.poetry]
name = "rpaframework-assistant"
version = "4.0.0-rc.1"
description = "Interactive UI library for RPA Framework"
authors = ["RPA Framework <rpafw@robocorp.com>"]
license = "Apache-2.0"
readme = "README.rst"

homepage = "https://rpaframework.org/"
documentation = "https://rpaframework.org/"
repository = "https://github.com/robocorp/rpaframework"

keywords = ["robotframework", "rpa", "automation", "dialogs", "assistant"]
classifiers = [
	"License :: OSI Approved :: Apache Software License",
	"Development Status :: 5 - Production/Stable",
	"Operating System :: OS Independent",
	"Intended Audience :: Developers",
	"Topic :: Software Development :: Libraries :: Python Modules",
	"Topic :: Software Development :: Libraries",
	"Framework :: Robot Framework :: Library",
	"Framework :: Robot Framework",
	"Programming Language :: Python :: 3.9",
	"Programming Language :: Python :: 3.10",
	"Programming Language :: Python :: 3.11",
	"Programming Language :: Python :: 3.12",
]

include = ["*.libspec"]

packages = [{ include = "RPA", from = "src" }]

[tool.poetry.dependencies]
python = "^3.9"
robotframework = ">=4.0.0,!=4.0.1,!=6.1.0,<8.0.0"
# Flet needs `packaging>=23`. Earlier rpaframework-core versions don't allow
# installing it. This make resolution errors simpler and faster.
rpaframework-core = "^12.0.1"
robocorp-flet="0.4.2.3"
# We only need the Literal type on python 3.7 from the module, but it has to be
# installed on all pythons so the imports work
typing-extensions = { version = "^4.4.0" }


[tool.poetry.group.dev.dependencies]
rpaframework-devutils = { path = "../devutils/", develop = true }

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
addopts = "-v --cov=src --cov-report term-missing --cov-branch"
testpaths = ["tests"]

filterwarnings = [
  # Ignore `pkg_resources.declare_namespace` that gets raised by dependencies
  # when running pytest
  "ignore:.*pkg_resources\\.declare_namespace.*:DeprecationWarning",
]
