[tool.poetry]
name = "rpaframework-recognition"
version = "5.0.1"
description = "OCR capabilities used by RPA Framework"
authors = ["RPA Framework <rpafw@robocorp.com>"]
license = "Apache-2.0"
readme = "README.rst"

homepage = "https://rpaframework.org/"
documentation = "https://rpaframework.org/"
repository = "https://github.com/robocorp/rpaframework"

keywords = ["robotframework", "rpa", "automation", "recognition", "cv", "ocr"]
classifiers = [
	"License :: OSI Approved :: Apache Software License",
	"Development Status :: 3 - Alpha",
	"Operating System :: OS Independent",
	"Intended Audience :: Developers",
	"Topic :: Software Development :: Libraries :: Python Modules",
	"Topic :: Software Development :: Libraries",
	"Framework :: Robot Framework :: Library",
	"Framework :: Robot Framework",
	"Programming Language :: Python :: 3.7",
	"Programming Language :: Python :: 3.8",
	"Programming Language :: Python :: 3.9",
]

packages = [{ include = "RPA", from = "src" }]

[tool.poetry.dependencies]
python = "^3.7"
rpaframework-core = "^10.0.0"
pillow = "^9.1.1"
opencv-python-headless = "^4.5.2, <4.6.0"
numpy = "^1.19.3"
pytesseract = "^0.3.6"

[tool.poetry.dev-dependencies]
black = "^22.3.0"
flake8 = "^3.7.9"
pylint = "^2.4.4, <2.13"
pytest = "^7.2.0"
mock = "^5.0.0"
pytest-cov = "^4.0.0"
toml = "^0.10.2"
colorama = "^0.4.5"
keyring = "^23.9.0"
PyYAML = "^5.4.1"

[tool.poetry.group.dev.dependencies]
flake8-docstrings = "^1.6.0"
flake8-rst-docstrings = "^0.2.7"

[tool.black]
target-version = ["py36", "py37", "py38", "py39"]

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"

[tool.pytest.ini_options]
addopts = "-v --cov=src --cov-report term-missing --cov-branch"
testpaths = ["tests"]
