[tool.poetry]
name = "rpaframework-recognition"
version = "6.0.0-rc.1"
description = "OCR capabilities used by RPA Framework"
authors = ["RPA Framework <rpafw@robocorp.com>"]
license = "Apache-2.0"
readme = "README.rst"

homepage = "https://rpaframework.org/"
documentation = "https://rpaframework.org/"
repository = "https://github.com/robocorp/rpaframework"

keywords = ["robotframework", "rpa", "automation", "recognition", "cv", "ocr"]
classifiers = [
	"License :: OSI Approved :: Apache Software License",
	"Development Status :: 5 - Production/Stable",
	"Operating System :: OS Independent",
	"Intended Audience :: Developers",
	"Topic :: Software Development :: Libraries :: Python Modules",
	"Topic :: Software Development :: Libraries",
	"Framework :: Robot Framework :: Library",
	"Framework :: Robot Framework",
	"Programming Language :: Python :: 3.9",
	"Programming Language :: Python :: 3.10",
	"Programming Language :: Python :: 3.11",
	"Programming Language :: Python :: 3.12",
]

packages = [{ include = "RPA", from = "src" }]

[tool.poetry.dependencies]
python = "^3.9"
rpaframework-core = "^12.0.1"
pillow = "^10.2.0"
opencv-python-headless = "^4.8.1, <4.9.0"
numpy = "^1.19.3"
pytesseract = "^0.3.6"

[tool.poetry.group.dev.dependencies]
rpaframework-devutils = { path = "../devutils/", develop = true }

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
addopts = "-v --cov=src --cov-report term-missing --cov-branch"
testpaths = ["tests"]
