#robocorpBanner {
	z-index: 999;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: #141028;
	color: #fff;
	display: none;
}
#bannerContent {
	text-align: center;
	line-height: 50px;
	padding-bottom: 2px;
}
#bannerLogo {
	display: inline-block;
	height: 24px;
	position: relative;
	top: -2px;
}
#bannerText {
	display: inline-block;
	margin: 0px 30px;
	font-family: Inter, sans-serif;
	font-style: normal;
	font-size: 14px;
	font-weight: 600;
}
#bannerButton {
	display: inline-block;
	line-height: normal;
	background: #176bbe;
	color: #fff;
	padding: 9px 15px;
	border-radius: 4px;
	font-family: Inter, sans-serif;
	font-style: normal;
	font-size: 14px;
	font-weight: 600;
}
#bannerButton:hover {
	background: #1d4e7d;
}
#bannerButton:visited {
	color: #fff;
}
#bannerButton img {
	margin-left: 6px;
}
#bannerDismiss {
	float: right;
	padding-right: 20px;
	vertical-align: text-top;
}
