name: rpaframework-dialogs

on:
  push:
    branches:
      - master
    paths:
      - packages/dialogs/**'
      - '.github/workflows/dialogs.yaml'
  pull_request:
    branches:
      - master
    paths:
      - packages/dialogs/**'
      - '.github/workflows/dialogs.yaml'

defaults:
  run:
    working-directory: './packages/dialogs'

jobs:
  test:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        name: [
          "windows-py36",
          "windows-py37",
          "windows-py38",
          "windows-py39",

          "ubuntu-py36",
          "ubuntu-py37",
          "ubuntu-py38",
          "ubuntu-py39",

          "macos-py36",
          "macos-py37",
          "macos-py38",
          "macos-py39",
        ]

        include:
          - name: "windows-py36"
            python: "3.6"
            os: windows-latest
          - name: "windows-py37"
            python: "3.7"
            os: windows-latest
          - name: "windows-py38"
            python: "3.8"
            os: windows-latest
          - name: "windows-py39"
            python: "3.9"
            os: windows-latest
          - name: "ubuntu-py36"
            python: "3.6"
            os: ubuntu-latest
          - name: "ubuntu-py37"
            python: "3.7"
            os: ubuntu-latest
          - name: "ubuntu-py38"
            python: "3.8"
            os: ubuntu-latest
          - name: "ubuntu-py39"
            python: "3.9"
            os: ubuntu-latest
          - name: "macos-py36"
            python: "3.6"
            os: macos-latest
          - name: "macos-py37"
            python: "3.7"
            os: macos-latest
          - name: "macos-py38"
            python: "3.8"
            os: macos-latest
          - name: "macos-py39"
            python: "3.9"
            os: macos-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: '14'
    - name: Set up Python ${{ matrix.python }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python }}
    - name: Upgrade pip
      run: python -m pip install --upgrade pip
    - name: Install poetry
      run: python -m pip install poetry
    - name: Install invoke
      run: python -m pip install invoke
    - name: Install
      run: invoke install
    - name: Lint
      run: invoke lint
    - name: Test
      run: invoke test

  publish:
    # Only publish on master workflow runs
    if: github.ref == 'refs/heads/master'
    needs: test
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with:
        node-version: 14.x
        registry-url: https://npm.pkg.github.com/
        scope: '@robocorp'
    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: '3.7'
    - name: Upgrade pip
      run: python -m pip install --upgrade pip
    - name: Install poetry
      run: pip install poetry
    - name: Install invoke
      run: pip install invoke
    - name: Install dependencies
      run: invoke install
    - name: Build and publish package
      if: ${{ success() }}
      run: |
        poetry config repositories.devpi ${{ secrets.devpiUrl }}
        poetry config http-basic.devpi ci ${{ secrets.devpiPassword }}
        invoke publish --ci
