name: rpaframework

on:
  push:
    branches:
      - master
    paths:
      - 'packages/main/**'
      - '.github/workflows/main.yaml'
  pull_request:
    branches:
      - master
    paths:
      - 'packages/main/**'
      - '.github/workflows/main.yaml'

defaults:
  run:
    working-directory: './packages/main'

jobs:
  test:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        name: [
          "windows-py36",
          "windows-py37",
          "windows-py38",

          "ubuntu-py36",
          "ubuntu-py37",
          "ubuntu-py38",

          "macos-py36",
          "macos-py37",
          "macos-py38",
        ]

        include:
          - name: "windows-py36"
            python: "3.6"
            os: windows-latest
          - name: "windows-py37"
            python: "3.7"
            os: windows-latest
          - name: "windows-py38"
            python: "3.8"
            os: windows-latest
          - name: "ubuntu-py36"
            python: "3.6"
            os: ubuntu-latest
          - name: "ubuntu-py37"
            python: "3.7"
            os: ubuntu-latest
          - name: "ubuntu-py38"
            python: "3.8"
            os: ubuntu-latest
          - name: "macos-py36"
            python: "3.6"
            os: macos-latest
          - name: "macos-py37"
            python: "3.7"
            os: macos-latest
          - name: "macos-py38"
            python: "3.8"
            os: macos-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up Python ${{ matrix.python }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python }}
    - name: Install xclip on linux
      if: matrix.os == 'ubuntu-latest'
      run: |
        DEBIAN_FRONTEND=noninteractive sudo apt-get update -y
        DEBIAN_FRONTEND=noninteractive sudo apt-get install xclip -y
    - name: Upgrade pip
      run: python -m pip install --upgrade pip
    - name: Install poetry
      run: pip install poetry
    - name: Install
      run: make install
    - name: Lint
      run: make lint
    - name: Test on non-linux
      if: matrix.os != 'ubuntu-latest'
      run: make test
    - name: Test on linux
      if: matrix.os == 'ubuntu-latest'
      run: |
        export XDG_SESSION_TYPE=x11
        xvfb-run --server-args="-screen 0 1280x720x24" make test
    - uses: actions/upload-artifact@v1
      if: success() || failure()
      with:
          name: ${{ matrix.os }}-py${{ matrix.python }}-test-reports
          path: packages/main/tests/results

  publish:
    # Only publish on master workflow runs
    if: github.ref == 'refs/heads/master'
    needs: test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: '3.7'
    - name: Upgrade pip
      run: python -m pip install --upgrade pip
    - name: Install poetry
      run: pip install poetry
    - name: Install dependencies
      run: make install
    - name: Build and publish package
      if: success()
      run: |
        poetry config repositories.devpi ${{ secrets.devpiUrl }}
        poetry config http-basic.devpi ci ${{ secrets.devpiPassword }}
        poetry publish --no-interaction --build --repository devpi
